.site-container {
    display: flex;
    justify-content: space-around;
}

/*DIVISION POUR LES INFOS DE LAA MAIRIE*/

.information {
    margin: 2rem 2rem 0 2rem;
    padding-top: 3rem;
}

.information div {
    display: flex;
    margin-top: 1rem;
}

.information div:first-of-type h6 {
    padding-top: 0;
}

.information div h6 {
    padding-top: 0.5em;
}

.horaire {
    padding-left: 1rem;
    display: inline-block;
    flex-direction: column;
}

/*DIVISION POUR LE FORMULAIRE*/

.formulaire {
    margin: 0rem 2rem 2rem 2rem;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.35);
    text-align: center;
}

.text_Area {
    text-align: left;
}

textarea {
    min-width: 34.5em;
    min-height: 13em;
    max-width: 34.5em;
    padding: .5rem;
    border-radius: 8px;
    border: 2px solid #aeaeae;
}

.contact-input {
    height: 1rem;
    width: 11.2rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: var(--white);
    border: 2px solid #aeaeae;
}

.name, .message, .numEmail {
    display: flex;
    margin: 2rem 3rem 2rem 1rem;
}

.numEmail div {
    display: flex;
}

.site-container .iconify {
    color: var(--yellow);
    height: 2.5em;
}

.name {
    display: flex;
    align-items: center;
}

.contact-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1100px) {
    .site-container {
        display: inline-block;
        flex-direction: column;
    }
    .information {
        margin: 0 2rem 0 2rem;
        padding-top: .5rem;
    }
    .name {
        padding-top: 1rem;
    }
    .formulaire {
        margin: 2rem;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.35);
        text-align: center;
        width: 95%;
    }
    textarea {
        min-width: 90%;
    }
}

@media screen and (max-width: 760px) {
    .information {
        margin: 0 2rem 0 2rem;
        padding-top: .5rem;
    }
    .site-container {
        display: inline-block;
        flex-direction: column;
    }
    .name {
        padding-top: 1rem;
        margin-bottom: 0;
    }
    .numEmail {
        margin-top: 1rem;
        flex-direction: column;
    }
    .numEmail div {
        display: flex;
    }
    .numEmail div:first-of-type {
        margin-bottom: 1rem;
    }
    .formulaire {
        margin: 1rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.35);
        text-align: center;
        width: 95%;
    }
    textarea {
        min-width: 90%;
    }
}
