.logo-details img {
    height: 60px;
    color: black;
}

.sidebar {
    position: fixed;
    top: 30;
    left: 0;
    height: 100%;
    width: 200px;
    border: 1px solid var(--light-gray);
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.sidebar.close .nav-links li a .link-name, .sidebar.close .logo-details .logo-name {
    display: none;
}

.sidebar.close {
    width: 78px;
}

.logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color1);
    transition: all 0.5s ease;
}

.nav-links {
    height: 100%;
    padding-top: 30px;
}

.nav-links li {
    position: relative;
    list-style: none;
}

.nav-links li a {
    font-weight: 600;
    height: 50px;
    min-width: 78px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: var(--text-color2);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all ease 0.4s;
}

.nav-links li a:hover {
    color: var(--magenta);
}

.nav-links li a .iconify {
    color: var(--text-color2);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all ease 0.4s;
}

.nav-links li a:hover .iconify {
    color: var(--magenta);
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-link .iconify {
    color: var(--text-color2);
    font-size: 20px;
    padding-left: 10px;
    transition: all ease 0.4s;
}

.icon-link:hover .iconify {
    color: var(--magenta);
}

.link-name {
    font-size: 1rem;
    font-weight: 600;
    flex: 2;
    text-align: left;
    transition: all 0.5s ease;
}

.sidebar .nav-links li .sub-menu {
    margin-top: -15px;
    padding-left: 40px;
    /* display: none; */
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border: 1px solid var(--light-gray);
    border-radius: 0px 6px 6px 0px;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: auto;
    display: none;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    display: block;
}

.sidebar .nav-links .sub-menu li a {
    font-size: 15px;
    height: 40px;
    white-space: nowrap;
    pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .title-name {
    font-size: 1.1rem;
    color: var(--text-color1);
    white-space: nowrap;
    padding-left: 5px;
    margin-bottom: 20px;
    display: none;
    pointer-events: auto;
}

.sidebar.close .nav-links li .sub-menu .title-name {
    display: block;
}

.sidebar .logout {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.sidebar .logout a {
    display: flex;
    align-items: center;
    color: var(--text-color2);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 15px 10px;
    transition: all 0.4s ease;
}

.sidebar .logout a:hover {
    color: var(--magenta);
}

.sidebar .logout a .iconify {
    font-size: 25px;
    padding-right: 10px;
    color: var(--text-color2);
    transition: all 0.4s ease;
}

.sidebar .logout a:hover .iconify {
    color: var(--magenta);
}

.home-section {
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    height: 100vh;
    transition: all 0.5s ease;
}

.home-content {
    margin-left: 1px;
    border-bottom: 1px solid var(--text-color2);
}

.sidebarBtn {
    height: 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
    color: var(--text-color1);
}

.sidebarBtn .iconify {
    font-size: 35px;
    color: var(--text-color1);
    margin: 15px;
}

.home-content a .iconify {
    font-size: 30px;
    margin: 10px;
    color: var(--magenta);
    transition: all 0.4s ease;
}

.home-content a:hover .iconify {
    color: var(--text-color1);
}

.home-content a {
    text-decoration: none;
    color: var(--magenta);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
}

.home-content a:hover {
    color: var(--text-color1);
}

.test {
    width: 90%;
    margin: auto;
}
