.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    text-align: center;
    width: 100%;
    height: 3rem;
    border-radius: var(--radius-6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-success {
    background-color: var(--success);
    color: var(--text-color1);
}
